.contact-form {
    position: relative;
    text-align: center;
  }
  
  .contact-btn {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .contact-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  
  .contact-popup.show {
    opacity: 0.8;
    visibility: visible;
  }
  
  .contact-content {
    background-color: white;
    position: relative;
    max-width: 600px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .contact-popup.show .contact-content {
    transform: scale(1);
    opacity: 1;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .close-btn:hover {
    background-color: #ff6347;
  }
  .contact h2{
    font-size: 3rem;
    opacity: 0.6;
    margin: 50px 0 30px;
  
  }
  .contact{
    width: 100%;
  }
  .contact form{
  
    transform: translateX(50%);
      width: 100%;
  }
  
  .contact p {
    font-size: 1rem;
    opacity: .78;
    text-align: left;
    padding-top: 7px;
  }
  .form-button{
    position: relative;
    right: 263px;
    margin: 25px 0;
  
  }
  .sub{
    position: relative;
    left:80px;
  }
  .close{
    position: relative;
    right: 100px;
  }