ul {
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}

/* General Styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container1 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar Styles */

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0636a5;
  color: #fff;
  padding: 10px 20px;
}

.logo h4 {
  margin: 0;
}

.nav-links1 {
  display: flex;
}

.nav-links1 li {
  list-style: none;
  margin-left: 10px;
}

.nav-links1 a {
  color: #fff;
  text-decoration: none;
}

.currencies select {
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}

/* Card Styles */

/* Card Styles */

.cards1 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
}

.card1 {
  flex-basis: calc(33.33% - 20px);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card1 h2 {
  color: #0636a5;
  font-weight: bold;
}

.card1 p {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.card1 button {
  margin-top: 20px;
  background-color: #0636a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.card1 button:hover {
  background-color: #fff;
  color: #0636a5;
  border: 2px solid #0636a5;
}

/* Footer Styles */

footer {
  background-color: #0636a5;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}

.logos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logos .logo {
  margin: 0 10px;
}

.logos .logo img {
  max-height: 50px;
}

footer p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

/* Button Styles */

.buynow {
  background-color: #0636a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.buynow:hover {
  background-color: #fff;
  color: #0636a5;
  border: 2px solid #0636a5;
}


body {
  background-color: #ffe6e6;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.membership-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}

.silver {
  background-color: #b3b3b3;
  color: #fff;
}

.gold {
  background-color: #ffd700;
  color: #000;
}

.platinum {
  background-color: #00bfff;
  color: #fff;
}

.platinum-plus {
  background-color: #800080;
  color: #fff;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  float: right;
}

.btn:hover {
  background-color: #3e8e41;
}
